<div class="container text-center my-5">
  <h1 class="display-4 mb-3">Welcome to BLOG</h1>
  <p class="lead mb-4">
    食べ歩きの記録を、もっとシェアしやすく。<br>
    BLOG (BeLieve On Gourmet) は、あなたのグルメ体験を残して共有できるSNSです。<br>
    外食や旅行先での美味しい発見を、シェアーしませんか？ 🐣
  </p>
</div>
